.news-section 
    .container 
        .section-title Новости

        .news-list 
            a.news-item(href="#") 
                .news-item-inner
                    .photo 
                        img.photo-img(src="/img/what-not-working.jpg" alt="")
                        .category Советы
                    .news-item-name Что не работает в России из-за санкций
                    .preview-text Европа продолжает вводить новые санкции против России, и в первую очередь ограничения коснулись банков и крупных компаний, иностранные счета которых были заморожены.
                .more
            a.news-item(href="#") 
                .news-item-inner
                    .photo 
                        img.photo-img(src="/img/buying-med-business.jpg" alt="")
                        .category Кейсы
                    .news-item-name Покупка медицинского бизнеса считается достаточно выгодным решением для франчайзи.
                    .preview-text Франчайзинг включает в себя удобную схему покупки лаборатории под уже популярным именем, что обеспечивает постоянный поток клиентов и относительно быструю окупаемость.
                .more
            a.news-item(href="#") 
                .news-item-inner
                    .photo 
                        img.photo-img(src="/img/franchise-pack.jpg" alt="")
                        .category Вопросы
                    .news-item-name Упаковка франшизы: зачем это нужно
                    .preview-text С распространением франчайзинга появляется все больше предложений вида «упаковка франшизы с нуля под ключ и ее продвижение» от различных компаний, а также инструкций, как это сделать самостоятельно.
                .more
            a.news-item(href="#") 
                .news-item-inner
                    .photo 
                        img.photo-img(src="/img/franchise-paying.jpg" alt="")
                        .category Финансы
                    .news-item-name Разновидности паушальных взносов и какой лучше выбрать для франчайзи
                    .preview-text Паушальный взнос: за что он платится. Может ли быть франшиза без паушального взноса. Формула паушального платежа и размер инвестиций.
                .more
            a.news-item(href="#") 
                .news-item-inner
                    .photo 
                        img.photo-img(src="/img/kfc-grow.jpg" alt="")
                        .category Кейсы
                    .news-item-name Особенности масштабирования KFC в России
                    .preview-text Чем известней торговая марка, тем меньше рисков и выше вероятность успеха. Одним из франчайзеров, предлагающих работать под всемирно известным брендом, является KFC, франшизу которого можно купить и в России.
                .more
            a.news-item(href="#") 
                .news-item-inner
                    .photo 
                        img.photo-img(src="/img/franchise-pyaterochka.jpg" alt="")
                        .category Кейсы
                    .news-item-name Франшиза «Пятерочка»: стоимость в 2022 году.
                    .preview-text Европа продолжает вводить новые санкции против России, и в первую очередь ограничения коснулись банков и крупных компаний, иностранные счета которых были заморожены.
                .more
        .load-more
            .more.js-load-news Больше новостей