.fast-filter
    .container
        .fast-filter-inner 
            .title Поброр франшизы по фильтру
            form.form-fast-filter
                .selector-wrap 
                    select.filter-selector.sphere(name="")
                        <option value="first">Сфера деятельности</option>
                        <option value="second">Second Value</option>
                        <option value="third">Third Value</option>
                .selector-wrap 
                    select.filter-selector.category(name="")
                        <option value="first">Категория</option>
                        <option value="second">Second Value</option>
                        <option value="third">Third Value</option>
                .selector-wrap 
                    select.filter-selector.investitions(name="")
                        <option value="first">Сумма инвестиций</option>
                        <option value="second">Second Value</option>
                        <option value="third">Third Value</option>
                input.btn.btn-blue.js-btn-send(type="submit" value="Подобрать")
            .title-row 
                .title Подбор по темам
                .show-all Все темы
            .themes 
                a.theme(href="#") Кафе и рестораны
                a.theme(href="#") Авто
                a.theme(href="#") Гостиницы
                a.theme(href="#") Детские
                a.theme(href="#") Обувь
                a.theme(href="#") ИТ и интернет
                a.theme(href="#") Домашний бизнес
                a.theme(href="#") Подарки
                a.theme(href="#") Товары для здоровья
                a.theme(href="#") Финуслуги
                a.theme(href="#") Производство
                a.theme(href="#") Отдых и развлечения
                a.theme(href="#") Товары для дома
