.fast-filter
    .container
        .fast-filter-inner 
            .title Поброр франшизы по фильтру
            form.form-fast-filter
                select.filter-selector.sphere(name="")
                    <option value="first">Сфера деятельности</option>
                    <option value="second">Second Value</option>
                    <option value="third">Third Value</option>
                select.filter-selector.category(name="")
                    <option value="first">Категория</option>
                    <option value="second">Second Value</option>
                    <option value="third">Third Value</option>
                select.filter-selector.investitions(name="")
                    <option value="first">Сумма инвестиций</option>
                    <option value="second">Second Value</option>
                    <option value="third">Third Value</option>
                input.btn.btn-blue.js-btn-send(type="submit" value="Подобрать")
            .title-row 
                .title Подбор по темам
                .show-all Все темы
            .themes 
                .theme Кафе и рестораны
                .theme Авто
                .theme Гостиницы
                .theme Детские
                .theme Обувь
                .theme ИТ и интернет
                .theme Домашний бизнес
                .theme Подарки
                .theme Товары для здоровья
                .theme Финуслуги
                .theme Производство
                .theme Отдых и развлечения
                .theme Товары для дома
