.investment
    .container 
        .title-row 
            .title Предполагаемый размер инвестиций
            .controls 
                .investment-amount 500 тыс. – 1 млн.
                .btn.btn-blue Подобрать

        .varians 
            .variant.variant--1
                span.variant-text до 500 тыс. руб
            .variant.variant--2
                span.variant-text 500 тыс. - 1 млн.
            .variant.variant--3
                span.variant-text 1 млн. - 5 млн.
            .variant.variant--4
                span.variant-text Свыше 5 млн.
        
        .control-row 
            .more Больше кейсов
