.main-news
    .container 
        .title-row 
            .title Новости франшиз
            .show-all Больше кейсов

        .news-list 
            a.news-item(href="#")
                .author 
                    .photo 
                        img.photo-img(src="/img/photo-ivan-ivanov.svg")
                    .info 
                        .company-name Синнабон
                        .employee-name Иван Иванов
                .news-photo 
                    img.news-photo-img(src="/img/what-not-working.jpg" alt="Франшиза Синнабон")
                    span.news-franchise-logo 
                        img.logo-img(src="/img/logo-cinnabon.png" alt="Франшиза Синнабон")
                .descriprion Франшиза продовольственных компаний и сетей общественного питания – самый
                .more

            a.news-item(href="#")
                .author 
                    .photo 
                        img.photo-img(src="/img/photo-ivan-ivanov.svg")
                    .info 
                        .company-name Boxxberry
                        .employee-name Иван Иванов
                .news-photo 
                    img.news-photo-img(src="/img/boxxberry.jpg" alt="Франшиза Boxxberry")
                    span.news-franchise-logo 
                        img.logo-img(src="/img/logo-boxxberry.png" alt="Франшиза Boxxberry")
                .descriprion Франшиза продовольственных компаний и сетей общественного питания – самый
                .more

            a.news-item(href="#")
                .author 
                    .photo 
                        img.photo-img(src="/img/photo-ivan-ivanov.svg")
                    .info 
                        .company-name Пятерочка
                        .employee-name Иван Иванов
                .news-photo 
                    img.news-photo-img(src="/img/pyaterochka.jpg" alt="Франшиза Пятерочка")
                    span.news-franchise-logo 
                        img.logo-img(src="/img/logo-pyaterochka.png" alt="Франшиза Пятерочка")
                .descriprion Франшиза продовольственных компаний и сетей общественного питания – самый
                .more