.subscribe 
    .container 
        .title Получайте новости
        form.form-subscribe
            input.input-text(type="text" name="email" placeholder="ваша почта")
            input.btn.btn-blue(type="submit" value="получить")
            .description Вышлем на почту бесплатную подборку франшиз с инвестицией от 15 000 до 700 000 тыс. руб.
        .mail-photo