.top-list
    .container 
        .title-row 
            .title Топовые
            .show-all Все франшизы

        .franchises
            a.franchise(href="#")
                .photo
                    img(src="a../../img/logo-invitro.jpg", alt="Invitro")
                .title INVITRO 
                .more

            a.franchise(href="#")
                .photo
                    img(src="../../img/logo-lifehacker.jpg", alt="Lifehacker Coffee")
                .title Lifehacker Coffee 
                .more

            a.franchise(href="#")
                .photo
                    img(src="../../img/logo-x-fit.jpg", alt="X-Fit")
                .title X-Fit 
                .more
            
            a.franchise(href="#")
                .photo
                    img(src="../../img/logo-burger-king.jpg", alt="Burger King")
                .title Burger King 
                .more

            a.franchise(href="#")
                .photo
                    img(src="../../img/logo-hot-tours.jpg", alt="Сеть магазинов Горящих путевок")
                .title Сеть магазинов Горящих путевок 
                .more
            
            a.franchise(href="#")
                .photo
                    img(src="../../img/logo-volchek.jpg", alt="Булочные Вольчека")
                .title Булочные Вольчека 
                .more

            a.franchise(href="#")
                .photo
                    img(src="../../img/logo-beeline.jpg", alt="Билайн")
                .title Билайн 
                .more
            
            a.franchise(href="#")
                .photo
                    img(src="../../img/logo-ozon.jpg", alt="Ozon")
                .title Ozon 
                .more

            a.franchise(href="#")
                .photo
                    img(src="../../img/logo-wildberries.jpg", alt="Wildberries")
                .title Wildberries 
                .more

            a.franchise(href="#")
                .photo
                    img(src="../../img/logo-boxberry.jpg", alt="Boxberry")
                .title Boxberry 
                .more