.catalog-section
    .container
        .catalog-aside
            form.filter 
                .selector-wrap
                    select.filter-selector.category(name="category")
                .selector-wrap
                    select.filter-selector.investment(name="investment")
                .field-wrap
                    btn.filter-field.top.js-top(name="top") Топ франшиз
                .field-wrap
                    btn.filter-field.cheap.js-cheap(name="cheap") Недорогие франшизы
                .field-wrap
                    btn.filter-field.popular.js-popular(name="popular") Популярные франшизы

            .banner
                img.banner-img(src="/img/banner.jpg" alt="")


        .franchises
            form.sort-blocks 
                .selector-wrap
                    select.filter-selector.sort-popularity(name="sort-popularity")
                .selector-wrap
                    select.filter-selector.sort-region(name="sort-region")
                .selector-wrap
                    select.filter-selector.sort-category(name="sort-category")
                .selector-wrap
                    select.filter-selector.sort-investment(name="sort-investment")


            .franchises-list
                .franchise
                    .row-top 
                        .name Пятерочка
                        .fr-logo 
                            img.fr-logo-img(src="../../img/logo-pyaterochka.png", alt="Пятерочка")
                    .row-middle 
                        .photo
                            img.photo-img(src="../../img/pyaterochka.jpg", alt="Фото Пятерочка")
                    .row-bottom 
                        .investment 
                            span.label Инвестиции: 
                            span.value 5 000 000 
                            span.currency руб.
                        .category розничная торговля
                        a.more(href="#") 

                .franchise
                    .row-top 
                        .name Пятерочка
                        .fr-logo 
                            img.fr-logo-img(src="../../img/logo-pyaterochka.png", alt="Пятерочка")
                    .row-middle 
                        .photo
                            img.photo-img(src="../../img/pyaterochka.jpg", alt="Фото Пятерочка")
                    .row-bottom 
                        .investment 
                            span.label Инвестиции: 
                            span.value 5 000 000 
                            span.currency руб.
                        .category розничная торговля
                        a.more(href="#") 

                .franchise
                    .row-top 
                        .name Пятерочка
                        .fr-logo 
                            img.fr-logo-img(src="../../img/logo-pyaterochka.png", alt="Пятерочка")
                    .row-middle 
                        .photo
                            img.photo-img(src="../../img/pyaterochka.jpg", alt="Фото Пятерочка")
                    .row-bottom 
                        .investment 
                            span.label Инвестиции: 
                            span.value 5 000 000 
                            span.currency руб.
                        .category розничная торговля
                        a.more(href="#") 

                .franchise
                    .row-top 
                        .name Пятерочка
                        .fr-logo 
                            img.fr-logo-img(src="../../img/logo-pyaterochka.png", alt="Пятерочка")
                    .row-middle 
                        .photo
                            img.photo-img(src="../../img/pyaterochka.jpg", alt="Фото Пятерочка")
                    .row-bottom 
                        .investment 
                            span.label Инвестиции: 
                            span.value 5 000 000 
                            span.currency руб.
                        .category розничная торговля
                        a.more(href="#") 

                .franchise
                    .row-top 
                        .name Пятерочка
                        .fr-logo 
                            img.fr-logo-img(src="../../img/logo-pyaterochka.png", alt="Пятерочка")
                    .row-middle 
                        .photo
                            img.photo-img(src="../../img/pyaterochka.jpg", alt="Фото Пятерочка")
                    .row-bottom 
                        .investment 
                            span.label Инвестиции: 
                            span.value 5 000 000 
                            span.currency руб.
                        .category розничная торговля
                        a.more(href="#") 

                .franchise
                    .row-top 
                        .name Пятерочка
                        .fr-logo 
                            img.fr-logo-img(src="../../img/logo-pyaterochka.png", alt="Пятерочка")
                    .row-middle 
                        .photo
                            img.photo-img(src="../../img/pyaterochka.jpg", alt="Фото Пятерочка")
                    .row-bottom 
                        .investment 
                            span.label Инвестиции: 
                            span.value 5 000 000 
                            span.currency руб.
                        .category розничная торговля
                        a.more(href="#") 