.first-section.favourite-franchise-section 
    .container 
        .section-title Каталог франшиз

        .favourite-franchise
            .photo 
                img.photo-img(src="../../img/favourite-franchise.jpg")
            .info
                .row-top
                    .name Cinnabon
                    .fr-logo
                        img.fr-logo-img(src="../../img/logo-cinnabon.png", alt="")
                .row-middle
                    .description Европа продолжает вводить новые санкции против России, и в первую очередь ограничения коснулись банков и крупных компаний, иностранные счета которых были заморожены.
                .row-bottom
                    .category кафе и рестораны
                    .investment 
                        span.label Инвестиции: 
                        span.value 5 000 000 
                        span.currency руб.