footer
    .container 
        .top
            .socials 
                .title Наши соцсети
                .icons 
                    a.icon.icon-tg(href="#") 
                    a.icon.icon-vk(href="#") 
                    a.icon.icon-wa(href="#") 
                    a.icon.icon-fb(href="#")
            .info
                .links
                    .title Франшизы
                    .fast-links 
                        a.link(href="#") Франшиза кафе и ресторанов
                        | , 
                        br
                        a.link(href="#") Топ франшиз
                        | , 
                        a.link(href="#") Недорогие франшизы
                        | , 
                        a.link(href="#") Франшизы одежды
                        | , 
                        br
                        a.link(href="#") Франшизы интернет-магазины
                        | , 
                        a.link(href="#") Франшизы ресторана
                        | , 
                        br
                        a.link(href="#") Франшизы в сфере услуг
                        | , 
                        a.link(href="#") Франшиза по производству
                        | , 
                        br
                        a.link(href="#") Франшиза по авто
                .contacts 
                    .title Контакты
                    .phone Телефон:  
                        a.contacts-link(href="tel:+54957503020") +5 495 750 30 20
                    .email Почта: 
                        a.contacts-link(href="mailto:info@franchishop.ru") info@franchishop.ru
            .menu
                .title Меню
                ul.menu-list 
                    li.menu-item
                        a.menu-link(href="#") Главная
                    li.menu-item
                        a.menu-link(href="#") Каталог франшиз
                    li.menu-item
                        a.menu-link(href="#") Инвестиции
                    li.menu-item
                        a.menu-link(href="#") Новости
                    li.menu-item
                        a.menu-link(href="#") Личный кабинет
                    li.menu-item
                        a.menu-link(href="#") О компании
        .bottom
            .logo 
                a.logo-link(href="/") 
                    img.logo-img(src="/img/logo-footer.svg")
                .copyrights © все права защищены

            a.user-agreement(href="#") пользовательское соглашение
