.first-section.franchise-section
    .container 
        ul.breadcrubs 
            li.breadcrubs-item 
                a.breadcrubs-link(href="/catalog") Каталог франшиз
                span.breadcrubs-link о франшизе
        h1.section-title О франшизе

        .franchise-info
            .data
                .row-top 
                    .franchise-logo
                        img.logo-img(src="../../img/logo-dodo.png" alt="Логотип ДоДо Пицца")
                    .category Кафе и рестораны

                .row-middle
                    .title ДоДо Пицца
                    .description Выбор франшизы является непростой задачей. Если вы решили работать по франчайзинговому договору, то, прежде чем покупать франшизу, необходимо определиться с ее типом и желаемым направлением деятельности компании-франчайзера.
                .row-bottom 
                    .investments
                        .investment-item
                            .title Инвестиции:
                            .text 5 000 000 руб.
                        .payback-period
                            .title Срок оккупаемости:
                            .text 36 мес.
                    .btn.btn-blue Связаться с франчайзером
            .cover
                img.cover-img(src="../../img/dodo-cover.jpg" alt="Обложка франшизы ДоДо Пицца")

        .franchise-counters 
            .info 
                .block-title О франшизе
                .text Сеть пиццерий "Додо Пицца" не нуждается в представлении. Франчайзер помогает соискателю на всех этапах, он контролирует запуск и предоставляет помощь: проекты по дизайну, закупка сырья и продуктов. Компания практически полностью автоматизирована: начиная от деятельности на кухне, заканчивая расписанием сотрудников. Именно это позволяет делать качественную и вкусную пиццу, имеющую популярность по всей стране.
            
            .counters 
                .counter.counter--common 
                    .digits 
                        span.digit 19
                        span.remark
                    .text Собственных предприятий
                
                .counter.counter--common 
                    .digits
                        span.digit 399
                        span.remark
                    .text Предприятий по франшизе

                .counter.counter--common 
                    .digits 
                        span.digit 2012
                        span.remark
                    .text Год основания

                .counter.counter--price 
                    .digits
                        span.digit 8
                        span.remark млн руб.
                    .text Год основания

                .counter.counter--percents 
                    .digits 
                        span.digit 3
                        span.remark %
                    .text Год основания
                .counter.counter--price 
                    .digits 
                        span.digit 350
                        span.remark тыс.
                    .text Паушальный взнос

                .controls
                    .btn.btn-blue Связаться с франчайзером

                    a.presentation-link(href="#") Скачать презентацию в PDF

        .franchise-advantages
            .block-title О франшизе

            .advantages
                .advantage
                    .icon
                        img.icon-img(src="../../img/icon-advantage.svg" alt="Иконка преимущества")
                    .text Обучение и помощь на всех этапах открытия и дальнейшей деятельности франшизы.
                .advantage
                    .icon
                        img.icon-img(src="../../img/icon-advantage.svg" alt="Иконка преимущества")
                    .text Вкусный продукт, завоевавший огромную аудиторию.
                .advantage
                    .icon
                        img.icon-img(src="../../img/icon-advantage.svg" alt="Иконка преимущества")
                    .text Автоматизация процесса готовки и управления.
                .advantage
                    .icon
                        img.icon-img(src="../../img/icon-advantage.svg" alt="Иконка преимущества")
                    .text Личная информационная система, управляющая пиццериями.

        .franchise-steps
            .block-title Что необходимо для успешного запуска...

            .steps
                .step
                    .icon 1
                    .text Обучение и помощь на всех этапах открытия и дальнейшей деятельности франшизы.
                .step
                    .icon 2
                    .text Вкусный продукт, завоевавший огромную аудиторию.
                .step
                    .icon 3
                    .text Автоматизация процесса готовки и управления.
                .step
                    .icon 4
                    .text Личная информационная система, управляющая пиццериями.


        .franchise-gallery 
            .row-top
                .block-title Фото проекта
                .controls.js-controls
                    .prev
                    .next


            .gallery.js-franchise-gallery

