header.header
    .container
        .logo 
            img.logo-img(src="/img/logo.svg")

        nav.navigation  
            a.nav-link(href="index.html") Главная
            a.nav-link(href="catalog.html") Каталог франшиз
            a.nav-link(href="#") Инвестиции
            a.nav-link(href="news.html") Новости
            a.nav-link.active(href="contacts.html") Контакты

        .personal 
            .icon.icon-favourites
            .icon.icon-search 
        
        a.auth(href="/lk/")
            span.auth-caption Войти