.about-section.first-section
    .container 
        .section-title.section-title--border О компании

        .articles
            .info
                .about-company
                    .title О компании
                    .text Мы - начинающий каталог франшиз
                    .text Franchi Shop – это новый проект, цель которого предоставить помощь в выборк подходящей франшизы с учетом интересов и финансовых возможностей клиентов. Мы сопровождаем будущих франчайзи на всех этапах выбора франшизы. На нашем портале вы можете связаться с представителем франшизы, который ответит на все интересующие вас вопросы и при заключении договора окажет поддержку в построении успешного бизнеса.
                
                .counters 
                    .counter
                        .counter-inner
                            span.digit 2022
                            span.description Год основания каталога
                    .counter
                        .counter-inner
                            span.digit 1200
                            span.description Максимальное количество франшиз
                    .counter.counter--double
                        .counter-inner
                            span.digit 156 300 000 
                                span.currency руб
                            span.description Общая сумма проданных франшиз

            .service-description 
                .catalog
                    .title Каталог франшиз
                    .description В каталоге представлены проверенные франшизы от надежных франчайзеров, которые отвечают за все заявки и имеют опыт развития франчайзинговых сетей. Также здесь вы можете найти франшизы популярных брендов, представленных в разных отраслях бизнеса
                    .btn.btn-blue Смотреть каталог
                    .photo 
                        img.photo-img(src="../../img/about-catalog-photo.jpg", alt="Каталог франшиз")
                
                .personal
                    .photo 
                        img.photo-img(src="../../img/about-personal-photo.jpg", alt="Личный кабинет")
                    .title Разместить франшизу
                    .description Разместите в нашем каталоге Вашу франшизу, расскажите о себе и своем бизнесе. Опишите производимые продукты и услуги, шаги для открытия этого бизнеса в другом городе, состав франшизы и поддержку, которую вы окажете будущим франчайзи.
                    .btn.btn-blue Разместить
            
