* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    outline: none;
}

html {
    overflow-x: hidden;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
    // font-size: 10px;
    font-size: 0.520835vw;
    background-color: $background;
    &::after {
        display: block;
        position: absolute;
        bottom: 20em;
        content: '';
        background-image: url(../img/bg-rounds-bottom.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

.container {
    // max-width: 1196px;
    max-width: 119.6em;
    margin: 0 auto;
}

.accent {
    color: $accent;
}

.first-section {
    padding: 4.95em 0 4.3em;
    .section-title {
        font-weight: bold;
        font-family: 'Commissioner', sans-serif;
        font-size: 6em;
    }
}

.btn {
    display: inline-block;
    width: auto;
    border: 2px solid transparent;
    padding: 0.9em 1.7em 1.1em 2em;
    font-size: 1.6em;
    margin: 0 0 0 0.4em;
    letter-spacing: 0.03em;
    border-radius: 1.3em;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s linear;
}

.btn-blue {
    background-color: $accent;
    border-color: $accent;
    color: #fff;
    &:hover {
        background: $accentDark;
        border-color: $accentDark;
    }
}

.btn-white {
    background-color: #fff;
    border-color: $accent;
    color: $accent;
    &:hover {
        background: $accent;
        color: #fff;
    }
}