.first-section.contacts 
    .container 
        .section-title Контактная информация

        .map-row
            .company-data 
                .requisites-wrap 
                    .title Реквизиты компании:
                    .requisites
                        .name ИП Абрамов Ярослав Васильевич
                        .ogrn ОГРНИП 319508100117929
                        .inn ИНН 100124174122
                        a.file-link(href="#") скачать в PDF

                .address-wrap 
                    .title Адрес компании:
                    .work-data
                        .address 141006, Московская область,
                            br
                            | 1-й Рупасовский переулок, дом 5
                        .worktime режим работы: 
                            br
                            | с 9:00 до 18:00 пн-пт
                        a.route-link(href="https://yandex.ru/maps/-/CCURy8SPCD") Как добраться 
            
            .map-wrap 
                .map-inner
                    iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A73a46084300f121e440fc2bfaecb1be39f3e7bab6d028f7d03a459ca91638a7c&amp;source=constructor" width="740" height="630" frameborder="0")