.tech-support 
    .container 
        .title Служба поддержки

        .description Если у вас возникли вопросы по работе сайта, выбору франшизы, появились жалобы или советы – свяжитесь с нами любым из доступных способов.
            br  
            | Мы с радостью поможем!

        .buttons 
            a.btn.btn-blue(href="tel:+74957503020") +7 495 750 30 20
            span.btn.btn-white.js-btn-callback Напишите нам